<main>
    <div class="products-detail-container">
        <h1> {{title}} </h1>
        <p>{{description}}</p>
        <img class="products-detail-img" src="/assets/default-image.jpg" alt="">
        <p>${{price}}</p>
        <p>{{category}}</p>
        <button id="add-to-cart-button" data-product-id="{{_id}}">agregar al carrito</button>
    </div>
</main>
<script src="/js/products-detail.js"></script>